body {
  background: url(https://wallpaperaccess.com/full/456652.jpg);
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Pacifico", cursive;
  padding-top: 25px;
  font-size: 50px;
}

h2 {
  text-align: center;
  color: rgb(30, 0, 34);
  font-size: 30px;
}

p {
  text-align: center;
}

.instructionsText {
  text-align: center;
  color: rgb(30, 0, 34);
  font-size: 40px;
}

#header {
  margin: auto;
  background: rgb(30, 0, 34);
  width: 90%;
  height: 110px;
}

#instructions {
  margin: auto;
  text-align: center;
  background: whitesmoke;
  width: 90%;
  padding-top: 20px;
  opacity: 0.9;
}

.scoreContainer {
  margin: auto;
  background: whitesmoke;
  text-align: center;
  width: 90%;
  padding-bottom: 50px;
}
